doctype html
html(lang="ka")
  head
    meta(charset='utf-8')
    title= pageTitle
    link(rel='stylesheet', href='/assets/css/main.css')
    //- link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.7/styles/default.min.css')
  
  body
    header
