footer
  p
    | &copy;
    a(href='http://ketch.me', title="ალექსანდრე კეჭაღმაძის ნამუშევრების ვებ-გვერდი", attr) ალექსანდრე კეჭაღმაძე
    |  2015

if (process.env.NODE_ENV !== "production")
  script(src='http://localhost:35729/livereload.js')

script(src='/assets/lightense.min.js')
script.
    window.addEventListener('load', function () {
      Lightense('img');
      }, false);
