doctype html
html(lang="ka")
  head
    meta(charset='utf-8')
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    meta(name="description", content="Georgian Type Design: Past & Present.")
    meta(name="author",content="Alex Ketch")
    meta(name="keywords", content="ქართული, ასო, ასოფორმა, დიზაინი, გრფიკა, ტიპოგრაფია, Georgian, type, type design, design, letterform, graphic design")
    meta(name="viewport", content="width=device-width, initial-scale=1, minimal-ui")
    title= pageTitle
    link(rel='stylesheet', href='assets/css/main.css')
    //- link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.7/styles/default.min.css')
  
  body
    header
