@import 'kouto-swiss'
@import 'axis'
@import 'markedAntique.css'
@import './BPG Mikheil Stefane.css'
@import './BPG Nostalgia.css'

normalize()
box-sizing-reset()

$key = #4c4c4c
$note   = #777777
$brand  = #5cb49b
$accent = #cfb039
$stock  = #fafafa

body
  font-size: 18px
  color: $key

article
  max-width: 700px
  margin: 0 auto
  padding: 0 5%;

img
  width: 100%
  height: auto

p
  paragraph()
  font-size: 1em
  line-height: 1.6em
  margin-bottom: .5em

text-selection()

ul
  ul: 'ka'

h1, h2, h3, h4, h5, h6
  font-family: "BPG Mikheil Stefane"
  padding-top: .25em
  margin-top: 2em

h1
  border-top: 1px solid $key
  &:first-of-type
    border-top: none
    text-align: center

a
  &:link, &:visited
    color: $key
  &:hover
    color: $brand
  &:active
    color: $accent

footer
  color: $note
  text-align: center
  a
    &:link, &:visited
      color: $note
      text-decoration: none
    &:hover
      color: $brand
    &:active
      color: $accent
