@import 'kouto-swiss'
@import 'axis'

normalize()
box-sizing-reset()

// debug()
body
  font-size: 18px

article
  max-width: 700px
  margin: 0 auto

img
  width: 100%
  height: auto

p
  paragraph()
  font-size: 1em
  line-height: 1.6em

text-selection()

ul
  ul: 'ka'
